export EXAMPLE_BASE_URL="https://api.openai.com/v1"
export EXAMPLE_MODEL_NAME=gpt-4o
export EXAMPLE_API_KEY=${OPENAI_API_KEY}

# Uncomment to use Gemini
# export EXAMPLE_BASE_URL="https://generativelanguage.googleapis.com/v1beta/openai/"
# export EXAMPLE_MODEL_NAME=gemini-2.5-flash
# export EXAMPLE_API_KEY=${GEMINI_API_KEY}

# Uncomment to use Claude
# export EXAMPLE_BASE_URL="https://api.anthropic.com/v1/"
# export EXAMPLE_MODEL_NAME=claude-opus-4-20250514
# export EXAMPLE_API_KEY=${ANTHROPIC_API_KEY}
